@model int
<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control btn-sm" asp-route-id="@Model">Edit</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control btn-sm">Back To List</a>
    </div>
</div>