@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUserModel> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->

    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       asp-action="Index" asp-controller="Home" asp-area="">

        @*<div class="sidebar-brand-icon rotate-n-15">*@
        @*<i class="fas fa-dragon"></i>*@
        <i class="fas fa-chalkboard-teacher fa-lg"></i>
        @*</div>*@
        <div class="sidebar-brand-text mx-2">Smart_ELearning</div>

        @*//<i class="fas fa-chalkboard-teacher"></i>*@
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading mt-2">
        Account Management
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUserManage" aria-expanded="true" aria-controls="collapseTwo">
            <i class="far fa-address-card"></i>
            <span>Personal account</span>
        </a>
        <div id="collapseUserManage" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Function</h6>

                <a class="collapse-item " asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user-circle mx-2"></i>Profile</a>
                <a class="collapse-item " asp-area="Identity" asp-page="/Account/Manage/ChangePassword"><i class="fas fa-lock mx-2"></i>Password</a>
                @if (hasExternalLogins)
                {
                    <a class="collapse-item " asp-area="Identity" asp-page="/Account/Manage/ExternalLogins">External logins</a>
                }
            </div>
        </div>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhanquyen" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-user-cog"></i>
                <span>Decentralization</span>
            </a>
            <div id="collapsePhanquyen" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" asp-area="user" asp-controller="UserManager" asp-action="Index">Role</a>
                    <a class="collapse-item" asp-area="user" asp-controller="UserRoles" asp-action="Index">Assign roles</a>
                </div>
            </div>
        </li>
    }

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Heading -->
    <div class="sidebar-heading mt-2">
        Posts
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    @if (User.IsInRole("Teacher"))
    {
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePosts" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-newspaper"></i>

                <span>Manage</span>
            </a>
            <div id="collapsePosts" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">

                    <a class="collapse-item" asp-area="user" asp-controller="Class" asp-action="Index"><i class="fas fa-list mx-2"></i> Class</a>
                    <a class="collapse-item" asp-area="user" asp-controller="Subject" asp-action="Index"><i class="	fas fa-book-reader mx-2"></i> Subject</a>
                    <a class="collapse-item" asp-area="user" asp-controller="Ip" asp-action="Index"><i class="	fas fa-book-reader mx-2"></i> Ip Adress</a>
                </div>
            </div>
        </li>
    }

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->