@model Smart_ELearning.ViewModels.AccountViewModels.AssignStudentToClassRequest

@{
    ViewData["Title"] = "AssignStudentToClass";
}

<h1>Assign Student ToClass</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignStudentToClass" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ClassId" class="form-control" />
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("StudentInClass","Student",new { Id = Model.ClassId })">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}