@model Smart_ELearning.Models.TestModel;
@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Test";
}

<form method="post" autocomplete="off">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title for @ViewBag.ScheduleTitle</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <input type="hidden" asp-for="ScheduleId" />
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Title"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NumberOfQuestion"></label>
                </div>
                <div class="col-8">
                    <select asp-for="NumberOfQuestion" id="answer">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="40">40</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">

                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}